<h1 class="big_title">映画ランキング</h1>
<%= render partial: 'movies/search' %>
<%= render partial: 'movies/search2' %>
<h2>絞り込みランキング</h2>
    <ul class="title">
        <% @movies.each do |m| %>
        <li>
        <%= link_to movie_path(m.id) do %>
            <%= m.point %>
            <div><%= image_tag image_url(m) %></div>
            <div>名前：<%= m.title %></div>
        <% end %>
        </li>
       <% end %>
    </ul>