<%= form_for @contact do |f| %>
        <% if @contact.errors.present? %>
          <% @contact.errors.full_messages.each do |msg| %>
            <p class="e_m"><%= msg %></p>
          <% end %>
        <% end %>
  <div class="form-group">
    <%= f.label :email, '返信先メールアドレス' %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

 <div class="form-group">
   <%= f.label :message, 'お問い合わせ内容' %>
   <%= f.text_area :message, size: '10x10', class: 'form-control' %>
 </div>

  <%= f.submit '送信' %>

<% end %>